<html ng-app="GettingStarted">
    <head>
        <title>Angular Unit Testing Application </title>
    </head>

    <body ng-controller="appController as vm">

        1.) Binding Example 
        <br />
        <input type="text" value="{{vm.message}}" />
        <button ng-click="vm.updateMessage()"></button>

        <hr />

        2.) NG-Repeat Example
        <br>
        <ul>
            <li ng-repeat="animal in vm.animalsArray">{{animal}}</li>
        </ul>

        <hr />

        3.) $Location Service Methods Example
        <br />
        Location Protocol is : {{vm.locationProtocol}} <br />
        Location URL is : {{vm.locationURL}} <br />
        Location Host is : {{vm.locationHost}} <br />
        Location Port is : {{vm.locationPort}} <br />
        Location Search is : {{vm.locationSearchParams}} <br />

        <hr />

        4.) $RouteParams URL Example
        <ul>
            <li ng-repeat="params in vm.urlRoutes">{{params}}</li>
        </ul>

    </body>

    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/app.controller.js"></script>

</html>